# DB 설정
spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: genie
    password: 1234

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
          #        # JPA에서 발생하는 쿼리문을 콘솔창에 출력
        #        show-sql: true
        #        # SQL 문장에 가독성
        # format_sql: true

  thymeleaf:
    cache: false
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp



logging.level:
  # JPA에서 발생하는 쿼리문을 로그파일로 남겨주는 옵션
  org.hibernate.SQL: debug
  # SQL 문에서 바인딩되는 파라미터 값까지 보여주는 옵션
  org.hibernate.type: trace

server:
  port: 8585